@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

input, textarea{
  background-color: #535D74;
  border-radius: 6px;
  padding: 4px 6px;
}
input:focus, textarea:focus{
  outline: 1px solid #E0A540;

}